[submodule "vendor/java-slack-sdk"]
	path = vendor/java-slack-sdk
	url = https://github.com/slackapi/java-slack-sdk.git
[submodule "vendor/slack-api-ref"]
	path = vendor/slack-api-ref
	url = https://github.com/slack-ruby/slack-api-ref.git
